{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block body %}
<div class="about-form">
    <h1>About This app</h1>
    <div class="about">
<p>This is a Virtual E-Commerce app built with Django. </p>
<br>
<h2>Features</h2>
<br>
<ol>
    <li>Create a account <a href="/register">here</a></li>
    <li>Explore products <a href="/explore">here</a></li>
    <li>Sell a product <a href="/sell">here</a></a></li>
    <li>Buy a product by clicking on the product in <a href="/explore">explore page</a></li>
    <li>Get some money with a <a href="/gift">gift card</a></li>
    <li>See how much money you have <a href="/profile">here</a></li>
</ol>
</div>
</div>
{% endblock %}