{% extends "base.html" %}

{% block body %}

<div class="sign-up-form">
    <h1>Sign In</h1>
    {% if next %}
    <form action="/signin?next={{next}}" method="POST">
        {% else %}
        <form action="/signin" method="post">
            {% endif %}

            {% csrf_token %}

            {% load widget_tweaks%}

            {% for field in form %}

            {% render_field field class+="input-box" placeholder+=field.label %}

            {% endfor %}
            <button type="submit" class="signup-btn">Sign In</button>


            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <p>Don't have an account? <a href="/register">Register Now!</a></p>
        </form>
</div>

{% endblock %}