{% extends "base.html" %}

{% block title %}
SignUp
{% endblock %}

{% block body %}
<div class="reg-form">
    <h1>Register Form</h1>
    <form action="/register" method="post">
        {% csrf_token %}

        {% load widget_tweaks%}

        {% for field in form %}

        {% render_field field class+="input-box" placeholder+=field.label %}

        {% endfor %}

        <button type="submit" class="signup-btn">Register</button>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <p>Do you have a account ?</p> <a href="/signin">Sign in</a></p>
    </form>
</div>

{% endblock %}