{% extends "base.html" %}

{% block title %}
Sell a product
{% endblock %}

{% block body %}
<div class="reg-form">
    <h1>Sell an amazing product!</h1>
<form action="/sell" method="post">
{% csrf_token %}

{% load widget_tweaks%}

    {% for field in form %}

    {% render_field field class+="input-box" placeholder+=field.label %}            
    {% endfor %}
    <button type="submit" class="signup-btn">Sell this product!</button>
</form>
</div>
<!-- Add the form elements here @Beemo -->

{% endblock %}